body {
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f9f9f9;
    color: #000;
    font-family: "Cairo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    
}


#navBar {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.205);    
    z-index: 50;

}

#navBar .logo{
    width: 100px;
    height: 50px;
    margin: 5px;
}

#navBar .contenedor{
    display: flex;
    margin: 10px; 
    width: 100%;
    justify-content: right;

}

.contenedor ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

 
  }
  
.contenedor ul  li {
    float: right;
  }
  
.contenedor li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.contenedor ul li a:hover {
    background-color: #111;
}

#menu{
    display: none;
}



#menu{
    
    position: absolute;
    background-color: #f9f9f9;
    top:0;
    right: 0;
    height: 2000px;

    /*Animation*/
    animation-name: slideAnim;
    animation-duration: 1s;
    
}

/*Menu Animation*/
@keyframes slideAnim {
    from {opacity: 0%;
        right: -200px;}
    to {opacity: 100%;
        right: 0;}
  }


a {text-decoration: none;}

#menu a {
    text-decoration: none;
    color:#000;
}

#menu a:visited {
    color: #000;
}
#menu .menu_container{
    justify-content: center;
    text-align: center;
    width: 350px;
    padding-top: 50px;
    
}


#menu .closeBtn{
    text-align: right;
    margin-right: 20px;
    
    
}

#menu .closeBtn button{
    background-color: #000;
    color: #fff;

    
}

#menu .title1 a{
    color: #232323;
    text-decoration: none;
    margin-bottom: 5px;
    
    
}

#menu .button1 button{

    color: #232323;
    background-color: #C5C8A9;
    border-radius: 10px;
    border-style: none;
    padding: 5px;
    margin-bottom: 10px;
    


}

#menu .button2-h button{

    color: #232323;
    background-color: #fff;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    margin-bottom: 10px;


}

#menu .button2-v button{

    color: #232323;
    background-color: #fff;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    margin-bottom: 10px;


}

#menu .socials{
    width: 100%;

    
}
#menu .socials .social_icon{
    width: 25px;
    height: 25px;

    
}


header{
    display: flex;
    flex-direction: column;
    margin: 0;
    
}




header #headerSlider{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    position: relative;
    
}



#headerSlider .image_bg{
    width: 100%;
}



#headerSlider .headerTitle{
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    z-index: 4;
    color: #fff;
    font-size: 32px;
}

#headerSlider .headerData{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    width: 100%;
    justify-content: center;
    
}

.headerData .dataIncome{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    justify-items: left;
  
    padding: 5px;
    margin-right: 20px;
    

}

.dataIncome .imagen{
    height: fit-content;
    align-self: center;

}

.dataIncome .incometitle{
    color: #fff;
    width: 150px;
    text-align: center;
    padding: 0;
    justify-content: center;
    margin: 0;
    font-size: 20px;
    
}

.dataIncome .percent {
    color: #C5C8A9;
    align-self: center;    
    
}



.headerData .rentToken{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    justify-items: left;
    padding: 5px;
    


}

.rentToken .imagen{
    height: fit-content;
    align-self: center;
    

}

.tokentitle{
    color: #fff;
    width: 150px;
    text-align: center;
    padding: 0%;
    justify-content: center;
    margin: 0;
    font-size: 20px;

}

.rentToken .percent{
    color: #C5C8A9;
    align-self: center;
    
}
/*---- Seccion1 ----*/
#section1 {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    align-self: center;
    
}

#contenedor_title_slider{
    display: flex;
    flex-direction: row;
    padding: 0;


}

#contenedor_title_slider .title{
    color:#000;
    font-size: 24px;
    

}

#contenedor_title_slider .contracts_title{
    color:#000;
    font-size: 20px;
    align-self:center;
    margin: 15px;

}

#contenedor_title_slider .btns{
    display: flex;
    flex-direction: row;
    color:#000;
    font-size: 16px;
    align-self: center;
    margin: 5px;

}

.btns .bsc_btn{
    
    
    width: 84px;
    height: 100%;
    margin-left: 5px;
    text-align: center;
    border-radius: 10px;
    background-color: #C5C8A9;
    
    
}

.btns .sol_btn{
    background-color: #fff;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    width: 84px;
    height: 100%;
    margin-left: 20px;
    text-align: center;
}


#slider{
       
    width: 100%;
    

    
}

#slider .displayContainer{
    width: 100%;
    

}


/*Seccion 2 */
#section2{
    width: 90%;
    height: 500px;
    align-self: center;



}

#section2 .contenedor_title{
    text-align: center;
    font-family: 'Cairo', sans-serif;
    font-style: bold;
    font-size: 30px;
    text-transform: capitalize;
    color: #000;
    font-weight: 700;
}

#grid_section2{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 280px;
    justify-content: center;
    

}

#grid_section2 .row{
    display: flex;
    flex-direction: row;
}

.row .column1{

    margin-right: 85px;
    width: 381px;
    

}

.column1 .linea{
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 1px;
    border-bottom-color: darkgray;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-top: 10px;
}
.column1 .linea .icon{
    width: 15px;
    height: 12px;
    margin: 2px;
    align-self: center;
}

.column1 .linea .text{
    margin-right: 30px;
}

.column1 .linea .data{
    font-size: 18px;
    color: #000;
    font-weight: 700;
    font-weight: bold;
    margin-left: auto;
  
}

.row .column2{
    margin-left: 85px;
    width: 381px;
}

.row .column2 .linea {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 1px;
    border-bottom-color: darkgray;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-top: 10px;

}

.column2 .linea .data{
    
    font-weight: bold;
    font-size: 18px;
     margin-left: auto;
}

.column2 .title {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 18px;
    
    
}

.column2 .title .text1{
   
    color:#000;
    font-weight: bold;
    font-size: 18px;

}

.column2 .title .text2{
    margin-left: auto;
    color:#5B72A8;
    font-weight: bold;
    font-size: 18px;

}

/* SECCION 3 */

#section3{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-self: center;
    height: 900px;
   
}

#section3 .title{
    text-align: left;
    font-size: 32px;
    color: #000;
}

#section3 .map_contenedor{
    width: 100%;
    
    
    
}

.map_contenedor img{
    width: 100%;
}



/* -- FOOTER--- */


#footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5vh;
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: #fff;

}



.footer_title{
    margin: 10px;
    font-size: 24px;
    color: #C5C8A9;

}

.footer_socials .grid .social_icon{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    background-color: transparent;
    color: #fff;
    border-radius: 100%;
    padding: 1rem;
}

  
  .footer_socials .grid .social_icon:last-child {
    margin-right: 0;
  }
  
  .grid .social_icon:hover {
    color: #c5c8a9;
  }

/*Animaciones*/

#section1 {

    opacity: 0;
    position: relative;
    bottom: -40px;
    transition: all .5s ease-out;

}


#section1.show {
    opacity: 1;
    bottom: 0;

}





